.App {
  text-align: center;
  
}
.container{
  background-color: #F5F5F5;
  box-shadow: #363c49;
  height: 400px;
  width: 100%;
  align-items: center;
 
}
.first-file{
  background-color: #FFFFFF;
  box-shadow:0px 4px 8px 0px #0000001A;
  width: 180px;
  height: 180px;
  margin-left: 200px;
  border-radius: 20px;
}
.files{
  display:flex;
  flex-direction:row;
}

.text{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}


}
.App-logo {
  height: 15vmin;
  pointer-events: none;
  background: radial-gradient(86.35% 66.25% at 76.67% 11.25%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
